.lead__main-imagine {
    margin-top: 0;
    max-width: 984px;
    max-height: 554.13px;
    
    object-fit: cover;
}

.lead__main-imagine:hover {
    opacity: .7;
    transition: opacity 0.3s ease;

}

@media screen and (min-width : 320px) and (max-width : 425px) {

    .lead__main-imagine {
        
        width: 100%;
        min-height: 211px;
        
    
    
    }
}

@media screen and (min-width : 426px) and (max-width : 1279px) {

    .lead__main-imagine {
        
        width: 100%;
       
        
    
    
    }
}